html {
    font-size: 70%;
    height: 100%;
}

.app{
    position: relative;
    min-height: 100vh;
}

.home{
    padding-bottom: 10vh;
}
.comment{
    padding-bottom: 10vh;
}

.footer{
    background-color: #000000;
    position: absolute;
    bottom: 0; 
    border:0; 
    height: auto;
    width: 100%;
    left: 0;
}

.grid-row-header{
    align-items: center !important;
    margin-top: 10px;
}

.card-register, .card-login {
    background-color: #02cec4 !important;
    margin-top: 40px !important;
    padding: 10px !important;
}

.card-register-header, .card-login-header{
    margin-bottom: 30px !important;
    margin-left: 10px !important;
    margin-top: 10px !important;
    border: 1px !important;
    color: white !important;
    font-size: 25px !important;
}

.card-description{
    margin-top: 20px !important;
    margin-bottom: 10px !important;
}

.post-card{
    display: flex;
    flex-direction: row-reverse;
}

.card-extra{
    display: flex;
    flex-direction: row;
}